.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .search-box {
    display: inline-flex;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px; /* Reduced from 50px */
    flex: 1;
  }
  
  .search-box:first-child {
    border-right: none;
  }
  
  .search-box input[type="text"] {
    flex: 1;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: transparent;
  }
  
  .search-box input[type="text"]:focus {
    outline: none;
  }
  
  .search-box input[type="text"]::placeholder {
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
  }
  
  .search-button {
    font-size: 16px;
    padding: 5px 20px; /* Reduced from 10px */
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; /* Reduced from 50px */
  }
  
  .search-button:hover {
    background-color: #0062cc;
  }
  
  @media only screen and (max-width: 767px) {
    .search-container {
      flex-direction: column;
      align-items: stretch;
    }
    
    .search-box {
      margin: 10px 0;
      height: auto;
    }
    
    .search-box:first-child {
      border-right: 1px solid #ccc;
      border-bottom: none;
    }
    
    .search-box input[type="text"] {
      margin-bottom: 10px;
    }
    
    .search-button {
      margin-top: 10px;
    }
    
    .search-button span {
      display: none;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .search-container {
      flex-wrap: wrap;
    }
    
    .search-box {
      margin: 10px;
      flex-basis: calc(50% - 20px);
    }
    
    .search-button {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .search-container {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .search-box {
      margin-right: 10px;
    }
    
    .search-button {
      margin-left: 10px;
    }
    
    .search-container-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
  